* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
.main {
  display: flex;
}
.left-nav {
  width: 26%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(59, 59, 59);
  position: sticky;
  top: 0;
}
.left-nav > ul li {
  list-style-type: none;
  padding: 16px;
  width: auto;
}
.left-nav > ul li a {
  text-decoration: none;
  padding: 16px;
  color: black;
}
.left-nav > ul li:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  font-size: 18px;
}
.left-nav > ul li a:hover {
  color: white;
}
.main-contents {
  background-color: rgb(248, 209, 197);
  border: 3px solid rgb(255, 255, 255);
  border-style: none none none solid;
  width: 80%;
  padding: 20px 70px;
}
.match-block {
  margin-bottom: 20px;
}

#heading {
  padding: 10px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  text-align: center;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width:25px;
    height:3px;
    margin:5px auto;
    transition: all 0.3s ease-in-out;
    background:white;
}

/* media query */

@media (max-width: 1110px) {
  .main {
    display: block;
  }
  .left-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 96px;
  }
  #heading{
    padding-left: 30px;
  }

  .hamburger{
    display: block;
    padding-right: 30px;
  }
  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }
  .hamburger.active .bar:nth-child(1){
    transform : translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform : translateY(-8px) rotate(-45deg);
}
  .nav-menu{
    position: fixed;
    left:-100%;
    top:70px;
    gap:0;
    flex-direction: column;
    width:100%;
    text-align: center;
    transition: 0.3s;
    background-color: rgb(59, 59, 59);
}
.left-nav > ul li a {
    text-decoration: none;
    padding: 16px;
    color: white
  }
  .main-contents{
    width:100%;
    box-sizing: border-box;
  }

.nav-menu.active{
    left:0;

}

}
